In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
from pydataset import data

## 1. Use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

print the first 3 rows  
print the number of rows and columns (shape)  
print the column names  
print the data type of each column  
print the summary statistics for each of the numeric variables  
Would you recommend rescaling the data based on these statistics?

In [4]:
df_iris = data('iris')
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [6]:
df_iris.shape

(150, 5)

In [9]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [10]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [11]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [12]:
# does not look like data needs to be rescaled based on the data, measurements appear to be in comparable units

## 2.Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

assign the first 100 rows to a new dataframe, df_excel_sample  
print the number of rows of your original dataframe  
print the first 5 column names  
print the column names that have a data type of object  
compute the range for each of the numeric variables.

In [20]:
df_excel_sample = pd.read_excel('Spreadsheets_Exercises_Solutions.xlsx', nrows=100, header=1)
df_excel_sample.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,no_dependents_yes_partners,dependents_no_partners,yes_dependents_and_partners,Unnamed: 23,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc
0,1371-DWPAZ,Female,0,Yes,Yes,0,1,2,Credit card (automatic),56.05,...,0.0,0.0,1.0,3.0,2020-09-08,0.0,False,2 Year,No Phone Service,DSL
1,2520-SGTTA,Female,0,Yes,Yes,1,0,2,Mailed check,20.00,...,NaN,NaN,NaN,NaN,2020-09-08,0.0,False,2 Year,One Line,No Internet Service
2,2775-SEFEE,Male,0,No,Yes,2,1,2,Bank transfer (automatic),61.90,...,NaN,NaN,NaN,NaN,2020-09-08,0.0,False,2 Year,Two or More Lines,DSL
3,2923-ARZLG,Male,0,Yes,Yes,1,0,1,Mailed check,19.70,...,NaN,NaN,NaN,NaN,2020-09-08,0.0,False,1 Year,One Line,No Internet Service
4,3115-CZMZD,Male,0,No,Yes,1,0,2,Mailed check,20.25,...,NaN,NaN,NaN,NaN,2020-09-08,0.0,False,2 Year,One Line,No Internet Service

In [21]:
df_excel_sample.shape

(100, 30)

In [40]:
df_excel_sample.iloc[:0, :5]

Empty DataFrame
Columns: [customer_id, gender, is_senior_citizen, partner, dependents]
Index: []

In [43]:
df_excel_sample.columns.to_series().groupby(df_excel_sample.dtypes == 'object').groups

{False: Index(['is_senior_citizen', 'phone_service', 'internet_service',
        'contract_type', 'monthly_charges', 'total_charges', 'tenure',
        'is_female', 'has_churned', 'has_phone', 'has_internet',
        'has_phone_and_internet', 'partner_dependents',
        'no_partners_no_dependents', 'no_dependents_yes_partners',
        'dependents_no_partners', 'yes_dependents_and_partners', 'Unnamed: 23',
        'start_date', 'average_monthly_charges', 'validate_monthly_charges'],
       dtype='object'),
 True: Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
        'churn', 'contract_type_desc', 'phone_type_desc', 'internet_type_desc'],
       dtype='object')}

In [27]:
df_excel_sample.describe()

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,tenure,partner_dependents,no_partners_no_dependents,no_dependents_yes_partners,dependents_no_partners,yes_dependents_and_partners,Unnamed: 23,average_monthly_charges
count,100.000000,100.000000,100.000000,100.000000,100.000000,89.000000,100.000000,100.00000,1.0,1.0,1.0,1.0,1.0,100.000000
mean,0.160000,1.280000,1.200000,0.810000,65.679500,2490.699438,29.481946,1.34000,0.0,0.0,0.0,1.0,3.0,61.123500
std,0.368453,0.682834,0.778499,0.860995,31.214163,2454.658016,25.485018,1.27303,NaN,NaN,NaN,NaN,NaN,36.192526
min,0.000000,0.000000,0.000000,0.000000,19.400000,19.850000,0.000000,0.00000,0.0,0.0,0.0,1.0,3.0,0.000000
25%,0.000000,1.000000,1.000000,0.000000,38.400000,529.800000,3.788265,0.00000,0.0,0.0,0.0,1.0,3.0,25.100000
50%,0.000000,1.000000,1.000000,1.000000,71.750000,1448.800000,25.516181,1.00000,0.0,0.0,0.0,1.0,3.0,69.175000
75%,0.000000,2.000000,2.000000,2.000000,91.287500,3767.400000,53.704825,3.00000,0.0,0.0,0.0,1.0,3.0,91.287500
max,1.000000,2.000000,2.000000,2.000000,116.800000,8456.750000,74.177334,3.00000,0.0,0.0,0.0,1.0,3.0,116.800000

## 3. Read the data from this google sheet into a dataframe, df_google

print the first 3 rows  
print the number of rows and columns  
print the column names  
print the data type of each column  
print the summary statistics for each of the numeric variables  
print the unique values for each of your categorical variables

In [30]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

In [32]:
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [33]:
df_google.shape

(891, 12)

In [34]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [35]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [36]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [37]:
df_google.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64